@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<Customer>

<h1>Users</h1>
<a class="button" asp-area="" asp-controller="Admin" asp-action="Index">Back</a>
<table>
  <thead>
    <tr>
      <th>Customer ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Birth Date</th>
      <th>Country</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.customer_ID</td>
                <td>@x.first_name</td>
                <td>@x.last_name</td>
                <td>@x.birth_date</td>
                <td>@x.country_of_residence</td>
                <td>@x.gender</td>
                <td>@x.age?.ToString("0.0")</td>
                <td><a class="btn btn-info" asp-controller="Admin" asp-action="EditUser" asp-route-userid="@x.customer_ID">Edit</a></td>
                <td><a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteUser" asp-route-userid="@x.customer_ID">Delete</a></td>
            </tr>
        }
    </tbody>
</table>