@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?Linkasp-for=397860
*@
@{
}
@using Microsoft.AspNetCore.Http
@model CartCustomerOrderViewModel

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Product Name</th>
						<th>Quantity</th>
						<th class="text-right">Amount</th>
						<th class="text-right">Subtotal</th>
					</tr>
				</thead>

				<tbody>
					@foreach (var l in Model.Cart?.Lines ?? Enumerable.Empty<Cart.CartLine>())
					{
						<tr>
							<td class="text-left">@l.Product.Name</td>
							<td class="text-center">@l.Quantity</td>
							<td class="text-right">@l.Product.Price</td>
							<td class="text-right">@((l.Quantity * l.Product.Price).ToString("c"))</td>
		
						</tr>
					}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3" class="text-right">Total:</td>
						<td class="text-right">@Model.Cart?.CalculateTotal().ToString()</td>
					</tr>
				</tfoot>
			</table>
			
			<form method="get" asp-page="/Cart">
				<button type="submit">Review Cart</button>
			</form>

		</div>
		<div class="col-md-6">
			<h4>Review your order and enter some information to make your experience better</h4>

			<form method="post" asp-controller="Home" asp-action="Orders">


	@{
		var currentDate = DateTime.Now;
		var currentDayOfWeek = currentDate.DayOfWeek.ToString();
		var currentTime = currentDate.TimeOfDay.TotalSeconds;
	}
@* 
	<input type="hidden" asp-for="Order.customerId" name="CustomerId" value="1" />
	<input type="hidden" asp-for="Order.age" name="Age" value="1" />
	<input type="hidden" asp-for="Order.countryOfResidence" name="CountryOfResidence" value="India" />
	<input type="hidden" asp-for="Order.gender" name="Gender" value="M" /> *@




	<input type="hidden" asp-for="Order.CustomerId" name="CustomerId" value="11" />
	<input type="hidden" asp-for="Order.Date" name="Date" value="@currentDate.ToString("yyyy-MM-dd")" />
	<input type="hidden" asp-for="Order.DayOfWeek" name="DayOfWeek" value="@currentDayOfWeek" />
	<input type="hidden" asp-for="Order.Time" name="Time" value="@currentTime" />

	@* <label asp-for="Order.amount">Amount:</label> *@


	<input type="hidden" asp-for="Order.EntryMode" name="EntryMode" value="CVC" />

	<input type="hidden" asp-for="Order.Amount" name="Amount" value="@Model.Cart.CalculateTotal()" />

	<input type="hidden" asp-for="Order.TypeOfTransaction" name="TypeOfTransaction" value="Online" />


	<label asp-for="Order.CountryOfTransaction">Country of Transaction:</label>
	<select asp-for="Order.CountryOfTransaction" name="CountryOfTransaction" required>
		<option value="United Kingdom">United Kingdom</option>
		<option value="USA">USA</option>
		<option value="India">India</option>
		<option value="China">China</option>
		<option value="Russia">Russia</option>
	</select>

	<label asp-for="Order.ShippingAddress">Shipping Address:</label>
	<select asp-for="Order.ShippingAddress" name="ShippingAddress" required>
		<option value="United Kingdom">United Kingdom</option>
		<option value="USA">USA</option>
		<option value="India">India</option>
		<option value="China">China</option>
		<option value="Russia">Russia</option>
	</select>

	<label asp-for="Order.Bank">Bank:</label>
	<select asp-for="Order.Bank" name="Bank" required>
		<option value="">Select a bank</option>
		<option value="RBS">RBS</option>
		<option value="Lloyds">Lloyds</option>
		<option value="Barclays">Barclays</option>
		<option value="Halifax">Halifax</option>
		<option value="Monzo">Monzo</option>
		<option value="HSBC">HSBC</option>
		<option value="Metro">Metro</option>
	</select>

	<label asp-for="Order.TypeOfCard">Type of Card:</label>
	<select asp-for="Order.TypeOfCard" name="TypeOfCard" required>
		<option value="">Select a type of card</option>
		<option value="Visa">Visa</option>
		<option value="MasterCard">MasterCard</option>
	</select>
	<input type="hidden" asp-for="Order.Fraud" name="Fraud" value="false" />


	<button type="submit">Submit</button>
</form>
