@{
    ViewData["Title"] = "Home Page";
}
@model List<Customer>
@* @model HomePageViewModel
<div style="margin: 4px, 4px; padding: 4px; background-color: #FFF9D6; overflow-x: auto; overflow-y: hidden; white-space: nowrap;">
    <img src="~/img/recommendedforyou.png" />
    @for (int i = 0; i < 5; i++)
    {
        @foreach (var x in Model.Products)
        {
            if (x.ProductId == Model.CurrentCustomer.Recommendation[i])
            {
                <div class="col-4">
                    <div style="box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2); transition: 0.3s; margin: 2px; color: white; background-color: #272D6D;">
                        <img src="@x.ImgLink" alt="Product picture" class="img-fluid">
                        <div class="container" style="padding: 2px 2px;">
                            <h4><b>@x.Name</b></h4>
                            <div class="row">
                                <div class="col-7">
                                    <p>
                                        @x.Category<br />
                                        Pieces: @x.NumParts<br />
                                        Price: $@x.Price
                                    </p>
                                </div>
                                <div class="col-5">
                                    <a method="get" asp-controller="Home" asp-action="SelectedProduct" asp-route-productnum="@x.ProductId">
                                        <div style="background-color: #FFD700; border: solid; border-color: #E3000B; color: black; padding: 5px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; border-radius: 5px;">View Item</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        }
    } *@
</div>
<div class="container">

    <div class="row">
        <div class="col-4">
            <img src="~/img/brickwellwithlegos.jpeg" class="img-fluid"/>
        </div>
        <div class="col-8">
            <img src="~/img/WelcomeToBricksUp.png" style="display: block; margin-left:auto; margin-right:auto; width: 70%;" />
            <h5>
                Welcome to Bricks Up, your premier destination for LEGO enthusiasts. Explore our collection of sets and accessories to fuel your creativity. Whether you're a seasoned builder or just starting out, Bricks Up is here to inspire your next masterpiece. And as always, happy bricking!
                <br/>
                <span class="text-right">-Aurora Brickwell</span>
            </h5>
        </div>
    </div>
    <div class="row" style="background-color: #C9CAD8;">
        <div class="col-12 mx-auto">
            <img src="~/img/browsebycategory.png" style="display: block; margin-left:auto; margin-right:auto; width: 50%;" />
        </div>
    </div>
    <div class ="row" style="background-color: #C9CAD8;">
        <div class="col-1"></div>
        <div class="col-2">
            <a asp-area="" asp-controller="Home" asp-action="Products" asp-route-category="Star Wars"><img src="~/img/starwars.png" class="img-fluid"></a>
        </div>
        <div class="col-2">
            <a asp-area="" asp-controller="Home" asp-action="Products" asp-route-category="Harry Potter"><img src="~/img/harrypotter.png" class="img-fluid" /></a>
        </div>
        <div class="col-2">
            <a asp-area="" asp-controller="Home" asp-action="Products" asp-route-category="Disney"><img src="~/img/disney.png" class="img-fluid" /></a>
        </div>
        <div class="col-2">
            <a asp-area="" asp-controller="Home" asp-action="Products" asp-route-category="Vehicle"><img src="~/img/vehicle.png" class="img-fluid" /></a>
        </div>
        <div class="col-2">
            <a asp-area="" asp-controller="Home" asp-action="Products" asp-route-category="Colorful"><img src="~/img/colorful.png" class="img-fluid" /></a>
        </div>
        <div class="col-1"></div>
    </div>
</div>
<br />
<br />
<br />
