@page
@model Brickwell.Pages.CartModel
@{
}


<h1>Your cart</h1>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Product Name</th>
			<th>Quantity</th>
			<th class="text-right">Amount</th>
			<th class="text-right">Subtotal</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var l in Model.Cart?.Lines ?? Enumerable.Empty<Cart.CartLine>())
		{
		<tr>
			<td class="text-left">@l.Product.Name</td>
			<td class="text-center">@l.Quantity</td>
			<td class="text-right">@l.Product.Price</td>
			<td class="text-right">@((l.Quantity * l.Product.Price).ToString("c"))</td>
				<td>
					@* <form id=@l.Product.ProductId method="post" asp-page="/Cart"> *@
					@* <form method="get" asp-page="/Cart" asp-page-handler="OnDelete" asp-route-productId="@l.Product.ProductId">
						 asp-route-productnum="@Model.ProductId" 
						<input type="hidden" asp-for=@l.Product.ProductId />
						<input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
						<button type="submit" class="btn btn-danger">Remove From Cart</button>
					</form>  *@
					<form id=@l.Product.ProductId method="post" asp-page="/Cart">
						@* asp-route-productnum="@Model.ProductId" *@
						<input type="hidden" name="productId" value="@l.Product.ProductId" asp-for="@l.Product.ProductId" />
						<input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
						<input type="hidden" name="delete" value="true" />
						<button type="submit" name="delete" class="btn btn-danger">Remove From Cart</button>
					</form>
				</td>
		</tr>
		}
		<tfoot>
			<tr>
				<td colspan="3" class="text-right">Total:</td>
				<td class="text-right">@Model.Cart?.CalculateTotal().ToString()</td>
			</tr>
		</tfoot>
	</tbody>
</table>

<div>
	<a class="btn btn-primary" href="/Home/Products">Continue Shopping</a>
	@if (Model.Cart == null || Model.Cart.Lines == null || Model.Cart.Lines.Count == 0)
	{
		<p>Your cart is empty.</p>
	}
	else
	{
		<a class="btn btn-primary" href="/Home/GetCheckout">Checkout</a>
	}
	<form method="get" asp-page="/Cart">
		@* asp-route-productnum="@Model.ProductId" *@
		<input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
		<input type="hidden" name="delete" value="true" />
		<button type="submit" name="delete" class="btn btn-danger">Empty Cart</button>
	</form>

</div>